<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293918615147-ufbh4t4dfd65v6kegk7nt6gasa9mpbmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293918615147-ufbh4t4dfd65v6kegk7nt6gasa9mpbmt</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ2YGXRYNSU_eEHVWfpKEIRow_vid-2a0</string>
	<key>GCM_SENDER_ID</key>
	<string>293918615147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xoGame</string>
	<key>PROJECT_ID</key>
	<string>xo-game-eed19</string>
	<key>STORAGE_BUCKET</key>
	<string>xo-game-eed19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293918615147:ios:20e5dab8ab20fc4359332e</string>
</dict>
</plist>